h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#selecao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
}
.botao{
    margin-left: 15px;
}