h1{
    align-items: center;
    justify-content: center;
    display: flex;
}
#botao{
    align-items: center;
    justify-content: center;
    display: flex;
}
.botao{
    padding: 30px;
    font-size: 30px;
}